%\documentclass[showframe]{two-column-resume} % Uncomment this if you need to see the columns
\documentclass[]{two-column-resume}

\begin{document}

    \BLOCK{include 'top_section/template.tex.jinja'}


    \BLOCK{include 'left_column/template.tex.jinja'}
    \hfill%
    \BLOCK{include 'right_column/template.tex.jinja'}
\end{document}
