%
% Education
%
\section{Education}

\subsection{\VAR{university_name}}
\descript{\VAR{college_name}}
\VAR{full_degree} \\
Grad. \VAR{graduation_date} \\

% Turned off for US-based employers
%\subsection{Hong Kong International School}
%Grad. May 2013 \\
%\sectionsep

