% Header Section
\namesection{\VAR{name}}
{
    \large  % If you need to squeeze this to be smaller, set this to \normalsize or \small
    \urlstyle{same}
    \faEnvelope \hspace{0.1cm} \href{mailto:\VAR{email}}{\VAR{email}}\\
    \faPhone \hspace{0.1cm} \href{tel:\VAR{phone_iso}}{\VAR{phone_well_formed}} \\
    \faGithub \hspace{0.1cm} \href{\VAR{github_full}}{\VAR{github}}\\
    \faLinkedin \hspace{0.1cm} \href{\VAR{linkedin_full}}{\VAR{linkedin}}\\
    \faGlobe \hspace{0.1cm} \href{\VAR{website_full}}{\VAR{website}}
}
